:root{
    --mainmenu-sidebar-width: 230px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}

/* <----------- mainmenu sidebar start -----------> */
.main-menu-sidebar{
    min-width: var(--mainmenu-sidebar-width);
    max-width: var(--mainmenu-sidebar-width);
    background-color: #FAFAFF;
    padding: 0 !important;
}
.main-menu-sidebar .navbar-nav{
    padding: 0 0 15px 0;
    border-bottom: 1px solid #acacac;
    overflow-y: auto;
    row-gap: 3px;
}
.main-menu-sidebar .navbar-nav::-webkit-scrollbar{
    width: 3px;
}
.main-menu-sidebar .navbar-nav::-webkit-scrollbar-thumb{
    background: #8ec8ff;
}
.main-menu-sidebar .navbar-nav .nav-item{
    max-width: 92%;
    margin: 0 auto;
    width: 100%;
}   
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap{
    padding: 4px 8px !important;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 2px solid transparent !important;
    position: relative;
    z-index: 1;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap .nav-link{
    padding: 0 !important;
    border: none !important;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap.active{
    background-color: #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 2px solid #439CEF !important;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap.active span{
    font-weight: 500;
    color: #439CEF !important;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap.active .icon-bar svg path{
    fill: #439CEF !important;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap.active:hover, .main-menu-sidebar .navbar-nav .nav-item .nav-item-cap.active:focus{
    background-color: #fff !important;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 2px solid #439CEF !important;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap:hover{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap:hover span{
    color: #0836C1;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap:hover .icon-bar svg path{
    fill: #0836C1;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap span{ 
    font-size: 12px;
    font-weight: 400;
    color: #000;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap .icon-bar svg{
    width: 15px;
}
.main-menu-sidebar .fixed-navbar-nav .nav-item .nav-item-cap .icon-bar svg{
    width: 15px;
    height: 14px;
}
.main-menu-sidebar .fixed-navbar-nav{
    padding: 8px 0;
}
.main-menu-sidebar .navbar-nav .nav-item .nav-item-cap:focus{
    background-color: transparent !important;
    border: none !important;
}
.innermenu-arrow-icon{
    display: none;
}
.main-menu-sidebar .navbar-nav .nav-item.submenu-content .innermenu-arrow-icon{
    display: block;
}
.innermenu-arrow-icon .arrow-caption{
    min-width: 17px;
    height: 15px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.innermenu-arrow-icon .arrow-caption .icon-bar{
    line-height: 0;
}
.innermenu-arrow-icon svg{
    width: 12px !important;
}
.innermenu-arrow-icon.active-menu .icon-bar svg{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.fixed-navbar-nav .nav-link{
    font-size: 12px;
    color: #4b4b4b;
    font-weight: 400;
    padding: 5px 18px !important;
    border: none !important;
}
.fixed-navbar-nav .nav-link:hover span{
    color: #0836C1;
}
.fixed-navbar-nav .nav-link:hover svg path{
    fill: #0836C1;
}
.main-menu-sidebar .submenu-content-wapper {
    margin-top: 5px;
    display: none;
    padding-left: 30px;
}
.main-menu-sidebar .submenu-content-wapper .submenu-navigation{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
}
.main-menu-sidebar .submenu-content-wapper .submenu-navigation::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    left: -15px;
    top: 0;
    background-color: #439CEF;
}
.main-menu-sidebar .submenu-content .submenu-navigation .submenu-item {
    padding: 7px 12px !important;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    border: 2px solid transparent;
}
.main-menu-sidebar .submenu-content .submenu-navigation .submenu-item.active{
    background-color: #fff;
    border-color: #439CEF;
    color: #439CEF !important;
}
.main-menu-sidebar .submenu-content .submenu-navigation li{
    position: relative;
    z-index: 1;
}
.main-menu-sidebar .submenu-content .submenu-navigation .submenu-item::before{
    position: absolute;
    content: "";
    width: 20px;
    left: -15px;
    border: 0.4px dashed #439CEF;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: -1;
}
.back-menu-bar-caption{
    padding: 0 10px 5px 15px;
    cursor: pointer;
}
.back-menu-bar-caption .icon-bar svg{
    width: 15px;
}
.back-menu-bar-caption span{
    font-size: 12px;
    font-weight: 400;
    color: #000;
}
.main-menu-sidebar .org-logo-bar{
    padding: 12px 18px;
}
.main-menu-sidebar .org-logo-bar img{
    max-width: 100px;
}
/* <----------- mainmenu sidebar end -----------> */



/* <----------- current-it-slider-block start -----------> */
.capability-slider-btn{
    width: 27px;
    height: 27px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: inherit !important;
    -webkit-transition: inherit !important;
    -moz-transition: inherit !important;
    -ms-transition: inherit !important;
    -o-transition: inherit !important;
    opacity: 1 !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
.current-it-slider-block{
    right: -50% !important;
}
.current-it-slider-block.active{
    right: 0 !important;
    left: inherit;
}
/* <----------- current-it-slider-block end -----------> */


.content-wapper{
    height: 100vh;
}
.container-wrap{
    overflow-y: auto;
}
.main_block.slider_section_active .container-wrap{
    width: 100%;
    transition: inherit !important;
    -webkit-transition: inherit !important;
    -moz-transition: inherit !important;
    -ms-transition: inherit !important;
    -o-transition: inherit !important;
}
.main_block.slider_section_active .scope-categeory-detail-box{
    grid-template-columns: repeat(3, 1fr) !important;
}
.btn-bar button{
    padding: 5px 10px !important;
}
.title-right .btn-bar li .btn{
    height: 25px !important;
}
.title-right .btn-bar li a{
    padding: 3px 5px !important;
    height: 27px !important ;
    border: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px !important;
}
.title-right .btn-bar li a label{
    margin: 1px 3px 0 0 !important;
    width: 10px !important;
    height: 10px !important;
}
.title-right .btn-bar li a span{
    font-size: 13px !important;
}
.title-right .btn-bar li a img{
    max-height: 12px !important;
    max-width: 15px !important;
    object-fit: contain;
}
.nav-pills .nav-link{
    padding-bottom: 2px !important;
    font-size: 12px !important;
}
#table_implementation_vendors th, #table_implementation_vendors td{
    font-size: 12px;
}
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none !important;
}
.modal-backdrop.show{
    display: block !important;
}
.add-application-modal-block .modal-dialog{
    max-width: 700px;
}
.modal-form label{
    font-size: 14px;
    font-weight: 500;
    color: #000;
}
.modal-form .select2-container .select2-selection--single{
    height: 40px !important;
}
.modal-form .ms-options-wrap>button{
    font-size: 12px;
    color: #444;
    height: 40px !important;
}
.modal-form  .ms-options-wrap > .ms-options{
    display: none;
}
.modal-form .ms-options-wrap.ms-active > .ms-options {
    display: block;
}
input:focus-visible {
   outline: none !important;
}
.select2-search--dropdown .select2-search__field {
    font-size: 13px;
    color: #000;
    font-weight: 500;
}

.content-details-wapper{
    width: calc(100% - var(--mainmenu-sidebar-width));
}
.container-wrap-topbar{
    padding: 0 12px;
    min-height: 45px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
    background-color: #fff;
    z-index: 1;
}
.initiative_btn_style{
    padding: 3px 10px !important;
    text-transform: capitalize;
    border: 1px solid transparent;
    font-size: 13px !important;
}
.initiative_btn_style:hover{
    color: #439CEF !important;
    border-color: #439CEF;
    background-color: transparent;
}
.initiative_btn_style i{
    font-size: 12px;
}
.container-wrap-topbar .nav.nav-pills{
    gap: 20px !important;
}
.header_roadmap_link a {
    color: #fff !important;
    font-size: 14px;
    padding: 4px 7px;
    border-radius: 3px;
    background: #ffffff36;
}
.faded-heading{
    color: #8f8f8f !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

.current-it-header .header_left_side{
    gap: 12px;
}
.container-wrap-result{
    padding: 20px 12px;
}
.company-select-dropdown{
     background-color: #001e62;
     padding: 5px;
     width: 200px;
     height: 30px;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     -ms-border-radius: 3px;
     -o-border-radius: 3px;
}
.company-select-dropdown .icon-bar svg{
    width: 16px;
}
.company-select-dropdown .icon-bar svg path{
    fill: #fff;
}
.company-select-dropdown .select2-container--default .select2-selection--single{
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}
.company-select-dropdown .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #fff !important;
    font-weight: 600 !important;
}
.company-select-dropdown .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #fff transparent transparent transparent !important;
}
.company-select-dropdown .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #fff transparent !important;
}
.total-title-bar p{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.total-title-bar span{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

/* <------------ checkwapper-desk start ------------> */
.checkwapper-desk .form-check{
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.checkwapper-desk .form-check .form-check-input{
    display: none;
    appearance: none;
}
.checkwapper-desk .form-check .form-check-label{
    padding: 10px 10px 10px 7px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.checkwapper-desk .form-check .form-check-label .check-bar{
    min-width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.checkwapper-desk .form-check .form-check-label .check-bar .icon-bar{
    display: none;
}
.checkwapper-desk .form-check .form-check-label .check-bar .icon-bar svg{
    width: 8px;
}
.checkwapper-desk .form-check .form-check-label .items-bar span{
    font-size: 13px;
    font-weight: 400;
    color: #000;
}
.checkwapper-desk .form-check .form-check-label .items-bar .icon-bar svg{
    width: 20px;
}
.checkwapper-desk .form-check .form-check-input:checked + .form-check-label {
    background-color: #f8fff6;
    border-color: #32ce00;
}
.checkwapper-desk .form-check .form-check-input:checked + .form-check-label .label-caption .check-bar{
    background-color: #32ce00;
}
.checkwapper-desk .form-check .form-check-input:checked + .form-check-label .label-caption .items-bar span{
    color: #2bb100;
    font-weight: 500;
}
.checkwapper-desk .form-check .form-check-input:checked + .form-check-label .label-caption .items-bar .icon-bar svg path{
    fill: #2bb100;
}
.checkwapper-desk .form-check .form-check-input:checked + .form-check-label .label-caption .check-bar .icon-bar{
    display: block;
}
.checkwapper-desk .form-check .form-check-input:checked + .form-check-label .label-caption .check-bar .icon-bar svg path{
    fill: #fff;
}
/* <------------ checkwapper-desk end ------------> */

.table-listing-bar table thead th{
    font-size: 13.5px;
    font-weight: 500;
    color: #000;
    padding: 7px 12px;
}
.eng-collaborators-bar ol{
    list-style-position: inside;
}
.eng-collaborators-bar ol li{
    font-size: 13px;
}
.table-listing-bar tbody tr td{
    font-size: 12px;
    font-weight: 400;
    color: #000;
}
.table-listing-bar table thead{
    border-bottom: 1px solid #e3e3e3;
}
.table-listing-bar table tbody tr{
    border-bottom: 1px solid #e3e3e3;
    vertical-align: middle;
}
.table-listing-bar table tbody tr td{
    padding: 7px 12px;
}
.table-listing-bar table tbody tr td .more-btn{
    font-size: 12px;
    font-weight: 500;
    color: #0836C1;
    text-decoration: underline;
    cursor: pointer;
}
.table-listing-bar td .action-box li a{
    width: 25px;
    height: 25px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.table-listing-bar td .action-box li .icon-bar svg{
    width: 16px;
}
.table-listing-bar table td .select2-container{
    margin-bottom: 0 !important;
}
.table-listing-bar table td .form-control{
    border-color: #e6e6e6 !important;
    padding: 0 6px;
    font-size: 12px !important;
}
.table-listing-bar table td .form-control:focus{
    border-color: #0836C1 !important;
}
.table-listing-bar td .action-box li a.delete-btn{
    border-color: red;
}
.table-listing-bar td .action-box li a.delete-btn .icon-bar svg{
    width: 12px;
}
.table-listing-bar td .action-box li a.delete-btn .icon-bar svg path{
    fill: red;
}
.table-listing-bar{
    height: calc(100vh - 167px);
}
.modal-form .input-daterange input{
    color: #000 !important;
    font-size: 12px !important;
}
.modal-form .input-box .form-control{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 40px;
    text-align: left;
    color: #000 !important; 
    font-size: 12px !important;
}
.table-listing-bar .input-daterange input{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 28px;
    text-align: left;
    color: #000 !important; 
    font-size: 12px !important;
}
.assessment-method-box{
    border: 1px solid #cecece;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 100%;
}
.assessment-method-box .method-title-box{
    padding: 12px 15px;
    height: 100%;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fafafa;
    min-height: 70px;
}  
.assessment-method-box .method-title-box .icon-bar svg{
    width: 24px;
    height: 25px;
}   
.assessment-method-box .method-title-box p{
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.assessment-method-box .method-qty-bar{
    width: 100%;
    padding: 10px;
    border-top: 1px solid #cecece;
}
.assessment-method-box .method-qty-bar input.input-box{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #e9e9e9;
    cursor: auto;
}
.assessment-method-box .method-qty-bar input.btn-bar{
    min-width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.assessment-method-box.add-method{
    border-color: #439CEF;
}
.assessment-method-box.add-method .method-title-box{
    background-color: #c3e0fb;
}
.assessment-method-box.add-method .method-title-box p{
    font-weight: 500;
}
.assessment-listing-bar table thead th.area-col{
    width: 20%;
}
.assessment-listing-bar table thead th.status-col{
    width: 15%;
}
.assessment-listing-bar table thead th.owner-col{
    width: 22%;
}
.filter-block .filed-content .input-box .form-control{
    height: 40px !important;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 35px;
    text-align: left;
    color: #000 !important;
    font-size: 12px !important;
}
.filter-block .filed-content .input-box .select2-container--default .select2-selection--single{
    height: 35px;
    text-align: left;
    color: #000 !important;
    font-size: 12px !important;
}
.search-box{
    height: 32px;
    width: 400px;
}
.search-box .input-group{
    padding: 0 10px !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
.search-box .input-group .icon-bar svg{
    width: 12px;
}
.search-box .input-group input.form-control{
    font-size: 13px;
    font-weight: 600;
    background-color: transparent;
}
.icon-btn{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.current-it-header .login-bar .btn_header_user_toogle span.symbol-label .icon-bar svg{
    width: 10px;
}
.table-listing-bar table tbody td .select2-container--default .select2-selection--single{
    border: 1px solid #eee;
}
.expenses-listing-bar .note-col{
    width: 45%;
}
.expenses-listing-bar .cost-col, .expenses-listing-bar .type-col, .expenses-listing-bar .cycle-col{
    width: 15%;
}
.icon-btn-box .icon-bar svg{
    width: 18px;
    height: 18px;
}
.table-add-row-btn .btn-caption span{
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}
.table-add-row-btn .btn-caption{
    border-bottom: 1px solid #e3e3e3;
    padding: 4px 10px 7px 10px;
    cursor: pointer;
}
.icon-btn-box span{
    font-size: 16px;
    font-weight: 400;
    color: #616060;
}
.retire-icon-box .icon-bar svg path{
    fill: #C04843;
}
.flag-icon-box .icon-bar svg path{
    fill: #FF0000;
}
.inner-menu-grid .inner-menu-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 15px;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid transparent;
    font-size: 14px;
    text-transform: capitalize;
    color: #707070;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.inner-menu-grid .inner-menu-link.active{
    background-color: #f3ffff;
    border-color: #000770;
    color: #000770;
    font-weight: 500;
}
.inner-menu-grid .inner-menu-link:hover{
    background-color: #f3ffff;
}
.modal-form .dropdown-title span{
    font-weight: 400 !important;
    font-size: 12px !important;
}
.full-width{
    width: 100% !important;
}
.detailed-filter-content .accordion .card-header .card-title{
    font-size: 14px !important;
    font-weight: 600;
}
.detailed-filter-content .accordion .modal-form label{
    font-weight: 500;
    font-size: 12px;
}

/* <------------- pagination bar start -------------> */
.pagination-bar{
    position: fixed;
    left: calc(var(--mainmenu-sidebar-width) + 20px);
    bottom: 12px;
}
.pagination-bar .page-link{
    padding: 3px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
    height: 29px;
}
.pagination-bar .page-item.active .page-link{
    background-color: #439CEF;
    border-color: #439CEF;
}
.pagination-bar .page-item.disabled{
    cursor: no-drop;
}
/* <------------- pagination bar end -------------> */

/* <------------- overview grid wapper end -------------> */
.grid-item{
    padding: 15px;
    border: 1px solid #d5d5d5;
}
.overview-content .grid-wapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 20px;
}
.overview-content .grid-wapper .expenses-grid-box{
    grid-row: 1 / 3;
}
.overview-content .grid-wapper .projects-grid-box{
    grid-row: 1 / 3;
}
.overview-content .grid-wapper .info-grid-box{
    grid-row: 1 / 3;
}
.overview-content .grid-wapper .usage-grid-box{
    grid-column: 1 / 3;
    grid-row: 3/3;
}
.overview-content .grid-wapper .note-grid-box{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    min-height: 100px;
}
.overview-content .grid-wapper .hosted-grid-box{
    grid-row: 3 / 5;
    grid-column: 3 / 3;
}
.grid-item .box-title, .grid-item span{
    color: #8E8E8E;
    font-size: 13px;
    font-weight: 500;
}
.tab-menu-link .nav-link{
    font-size: 14px !important;
    font-weight: 400;
    color: #707070;
    padding-bottom: 7px !important;
}
.tab-menu-link .nav-link.active{
    font-weight: 600;
}
.listing-caption-bar .title{
    font-size: 14px;
    font-weight: 400;
    color: #000000 !important;
}
.listing-caption-bar span{
    font-size: 13px;
    font-weight: 400;
    color: #797979;
}
.inst-desc{
    font-size: 12px !important;
    color: #8E8E8E;
    font-weight: 400 !important;
}
.overview-content .grid-wapper .select2-container .select2-selection--single, .overview-content .grid-wapper .form-control, .overview-content .grid-wapper .ms-options-wrap button{
    height: 21px !important;
    min-height: 21px !important;
}

.overview-content .grid-wapper .select2, .overview-content .grid-wapper .form-control, .overview-content .grid-wapper .ms-options-wrap{
    width: 55% !important;
    min-width: 210px !important;
}
.overview-content .grid-wapper .form-control{
    font-size: 12px;
    padding: 0 8px;
    border-color: #aaa;
}
.overview-content .grid-wapper .ms-options-wrap button{
    padding: 0px 18px 0px 8px;
    text-align: center;
}
.overview-content .grid-wapper .ms-options-wrap button span{
    color: #000;
}
.overview-content .grid-wapper .ms-options-wrap > .ms-options > ul label{
    font-size: 12px;
}
.overview-content .grid-wapper  .ms-options-wrap > .ms-options > .ms-search input{
    font-size: 12px;
}
.overview-content .grid-wapper .ms-options-wrap > button:after{
    border-width: 4px;
}
/* <------------- overview grid wapper end -------------> */

/* <------------------ Overview grid wrapper new Styling ------------------->  */
.overview-content .grid-wapper :is(.select2-container--default .select2-selection--single .select2-selection__rendered, .ms-options-wrap button span){
    color: #797979;
    font-weight: 400;
    font-size: 13px;
}
.overview-content .grid-wapper :is(.ms-options-wrap.ms-active > .ms-options, .select2-container--open .select2-dropdown--below, .select2-dropdown  ){
    margin-top: 24px;
}

.overview-content .grid-wapper :is(.ms-options-wrap > button){
    border: none !important;
}

.overview-content .grid-wapper :is(.select2, .form-control, .ms-options-wrap , .select2-container .select2-selection--single) {
    display: flex;
    justify-content: space-around;
    gap: 3px;
    width: fit-content !important;
    min-width: 60px !important;
    max-width: 250px;
    border-bottom: 1px solid transparent !important;
    padding-bottom: 2px;
    border: none;   
    border-radius: 0;
}
.overview-content .grid-wapper :is(.select2:hover, .form-control:hover,.form-control:focus, .ms-options-wrap:hover) {
    border-bottom: 1px solid #aaaaaa5f !important;
}
.overview-content .grid-wapper :is(.form-control) {
    text-align:center;
    color: #797979;
    font-size: 12px;
    max-width: 100px !important;
    /* border-bottom: 1px solid #aaaaaa84 !important; */
}
.overview-content .grid-wapper .form-control::placeholder{
    text-align: center;
    color: #797979;
}
input:focus::-webkit-input-placeholder {
	color : transparent;
}
input:focus::-moz-placeholder {
	color : transparent;
}
input:-moz-placeholder {
	color : transparent;
}
input:focus::-webkit-input-placeholder {
	opacity : 0;
}
input:focus::-moz-placeholder {
	opacity : 0;
}
input:-moz-placeholder {
	opacity : 0;
}
/* <---------------------  Overview grid wrapper new Styling End ------------------> */

.check-bar-box label{
    font-size: 13px;
    font-weight: 400;
    color: #707070;
}
.expenses-btn-box span{
    color: #8E8E8E !important;
    font-weight: 600;
}
.risk-listing-bar .table thead th{
    white-space: nowrap;
    min-width: 100px;
    text-transform: capitalize;
}
.risk-listing-bar .table thead th.risk-col{
    min-width: 300px;
    max-width: 300px;
}
.risk-listing-bar .table thead th.dropdown-col{
    min-width: 150px;
    text-align: center;
}
.short-note-des a{
    text-decoration: underline !important;
    font-size: 12px;
    color: #4775D5 !important;
}
.table-listing-bar table tbody td .ms-options-wrap button{
    height: 28px !important;
    min-height: 28px !important;
    border-color: #eee !important;
}
.table-listing-bar .ms-options-wrap > button:after{
    border-width: 4px !important;
}
.dependencies-listing-bar table thead th.category-col{
    min-width: 150px;
}
.fullview-description-modal-block p{
    font-size: 13px;
    font-weight: 400;
    color: #000;
}
.table-listing-bar .table-responsive::-webkit-scrollbar{
    height: 4px !important;
}
.ms-options-wrap > .ms-options{
    display: none;
    visibility: inherit !important;
}
.ms-options-wrap.ms-active > .ms-options{
    display: block;
}
.box-table-listing-bar{
    border: 1px solid #e3e3e3;
}
.box-table-listing-bar .table-topbar{
    padding: 8px 12px 0 12px;
}
.usage-grid-box table tbody tr td:first-child{
    padding-left: 0;
} 